.tmux.conf.swp
vim/.vim/plugged
vim/.vim/.netrwhist
VsCode/.config/**
!VsCode/.config/**/User/settings.json
nvim/.config/nvim/.netrwhist
git/.gitconfig
alacritty-terminal/.config/alacritty/.alacritty.yml.swp
